:root {
   --clr-weak: hsl(0, 70%, 52%);
   --clr-medium: hsl(54, 83%, 66%);
   --clr-strong: hsl(145, 74%, 49%);
   --clr-icon: hsl(253, 11%, 66%);
   --clr-shadow: 252, 11%, 9%;
}

* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}

body {
   height: 100vh;
   font-family: 'Roboto', sans-serif;
   background-color: var(--clr-background);
   color: var(--clr-white);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   font-weight: var(--font-weight);
}

.wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   gap: 1.2rem;
   width: 40%;
}

.icons__wrap {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
   gap: 5px;
}

.themeIcon__icon {
   color: var(--clr-icon);
   -webkit-transition: all .2s ease-out;
   -o-transition: all .2s ease-out;
   transition: all .2s ease-out;
}

.themeIcon__light {
   width: 2.5rem;
   height: 2.5rem;
   background-color: var(--clr-main-darker);
   border: none;
   padding: .25rem;
   border-radius: .5rem;
   
}

.themeIcon__dark {
   width: 2.5rem;
   height: 2.5rem;
   background-color: var(--clr-main-darker);
   border: none;
   padding: .4rem;
   border-radius: .5rem;
   -webkit-transition: outline .2s ease-out;
   -o-transition: outline .2s ease-out;
   transition: outline .2s ease-out;
   
}

.active-theme {
   background-color: var(--clr-main);
}

.themeIcon__dark:hover {
   background-color: hsl(var(--clr-checkbox-hover),0.2);
}
.themeIcon__light:hover {
   background-color: hsl(var(--clr-checkbox-hover),0.2);
}

.active-theme > .themeIcon__icon {
   color: var(--clr-accent);
   fill: var(--clr-accent);
   
}

.title {
   font-size: 1.3rem;
   font-weight: var(--font-weight);
}

.password {
   width: 100%;
   background-color: var(--clr-main);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   padding: 1em 1.5em 1em 2em;
   -webkit-box-shadow: 0 15px 50px hsl(var(--clr-shadow),0.2);
           box-shadow: 0 15px 50px hsl(var(--clr-shadow),0.2);
}

.password__generated {
   font-size: 1.6rem;
   color: var(--clr-gray);
   font-size: 2rem;
   font-weight: 500;
}

.password__copy {
   opacity: .5;
   position: relative;
   display: inline-block;
   border: none;
   color: var(--clr-accent);
   background-color: transparent;
   cursor: pointer;
   -webkit-transition: color .2s ease-out;
   -o-transition: color .2s ease-out;
   transition: color .2s ease-out;
   padding: .5rem;
   border-radius: .7rem;
   -webkit-transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
   -o-transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
   transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
}

.password__copy .tooltiptext {
   visibility: hidden;
   width: 140px;
   background-color: var(--clr-accent);
   color: var(--clr-background);
   text-align: center;
   border-radius: 6px;
   padding: 5px;
   position: absolute;
   z-index: 1;
   bottom: -65%;
   left: -28%;
   margin-left: -75px;
   opacity: 0;
   -webkit-transition: opacity 0.3s;
   -o-transition: opacity 0.3s;
   transition: opacity 0.3s;
}
 
 .password__copy .tooltiptext::after {
   content: "";
   position: absolute;
   top: -35%;
   right: 20%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent transparent var(--clr-accent) transparent;
}
 
.password__copy:hover .tooltiptext {
   visibility: visible;
   opacity: 0.8;
}


.password__copy-icon {
   width: 1.5rem;
   height: 1.5rem;
}

.password__copy:hover {
   color: var(--clr-accent-darker);
   background-color: var(--clr-main-darker);
}

.password__copy:active {
   color: var(--clr-accent);
}

.settings {
   width: 100%;
   padding: 2em;
   background-color: var(--clr-main);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   gap: 1rem;
   -webkit-box-shadow: 0 15px 50px hsl(var(--clr-shadow),0.2);
           box-shadow: 0 15px 50px hsl(var(--clr-shadow),0.2);
}

.settings__chars {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   font-size: 1.1rem;
}

.settings__chars-length {
   font-size: 2rem;
   font-weight: 500;
   color: var(--clr-accent);
}

.settings__include {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   gap: 1.2rem;
   font-size: 1.1rem;
}

.settings__strength {
   background-color: var(--clr-main-darker);
   padding: 1em 2em;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.settings__strength > p {
   text-transform: uppercase;
   color: var(--clr-gray);
   font-weight: 500;
}

.settings__strength-str {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 1rem;
}

.settings__range {
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
   width: 100%;
   height: .75rem;
   border-radius: 5px;
   margin-bottom: 1rem;
   outline: none;
   -webkit-transition: .2s;
   -webkit-transition: opacity .2s;
   -o-transition: opacity .2s;
   transition: opacity .2s;
   z-index: 1;
   background: -o-linear-gradient(left, var(--clr-accent) 22.222%, var(--clr-main-darker) 22.222%);
   background: -webkit-gradient(linear, left top, right top, color-stop(22.222%, var(--clr-accent)), color-stop(22.222%, var(--clr-main-darker)));
   background: linear-gradient(to right, var(--clr-accent) 22.222%, var(--clr-main-darker) 22.222%)
}

.settings__range::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 25px;
   height: 25px;
   border-radius: 50%; 
   background: var(--clr-accent);
   cursor: pointer;
   -webkit-transition: all .2s ease-out;
   transition: all .2s ease-out;
}

.settings__range::-moz-range-thumb {
   width: 25px;
   height: 25px;
   border-radius: 50%; 
   background: var(--clr-accent);
   cursor: pointer;
   -moz-transition: all .2s ease-out;
   transition: all .2s ease-out;
}

.settings__range:active::-webkit-slider-thumb {
   border: .3rem solid var(--clr-accent);
   background-color: var(--clr-main);
}

.settings__range:active::-moz-range-thumb {
   border: .3rem solid var(--clr-accent);
   background-color: var(--clr-main);
}


input[type="checkbox"] {
   opacity: 0;
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
}

input[type="checkbox"] + label {
   position: relative;
   cursor: pointer;
   padding: 0; 
}

input[type="checkbox"] + label:before {
   content: '';
   margin-right: 1.2rem;
   display: inline-block;
   vertical-align: text-top;
   width: 1.25rem;
   height: 1.25rem;
   outline: 3px solid var(--clr-accent);
   border-radius: 4px;
}

input[type="checkbox"]:hover + label:before {
   background: hsl(var(--clr-checkbox-hover), 0.2);
}

input[type="checkbox"]:checked + label:after {
   content: '';
   position: absolute;
   left: .625rem;
   top:.625rem;
   -webkit-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
   background: var(--clr-accent);
   width: .625rem;
   height: .625rem;
}

.bar {
   height: 100%;
   width: .4rem;
   display: inline-block;
   outline: 2px solid var(--clr-outline);
   background-color: transparent;
}

.bar:not(:first-child) {
   margin-left: 0.3125rem;
}

.settings__generate {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   gap: .5rem;
   padding: 1em 2em;
   border: none;
   background-color: var(--clr-accent);
   color: var(--clr-main);
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: 700;
   -webkit-transition: background-color .2s ease-out;
   -o-transition: background-color .2s ease-out;
   transition: background-color .2s ease-out;
}

.settings__generate:hover {
   background-color: var(--clr-accent-darker);
}


.settings__generate:active {
   background-color: var(--clr-accent);
}

.settings__generate-icon {
   width: 1.5rem;
   height: 1.5rem;
   -webkit-transition: -webkit-transform .2s ease-out;
   transition: -webkit-transform .2s ease-out;
   -o-transition: transform .2s ease-out;
   transition: transform .2s ease-out;
   transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.settings__generate:hover > .settings__generate-icon {
   -webkit-transform: translateX(0.375rem);
       -ms-transform: translateX(0.375rem);
           transform: translateX(0.375rem);
}

@media only screen and (min-width: 1280px) {
   .wrapper {
      width: 32rem;
   }
}
@media only screen and (max-width: 1024px) {
   .wrapper {
      width: 32rem;
   }
}

@media only screen and (max-width: 720px) {
   body {
      font-size: .9rem;
   }
   .wrapper {
      width: 90%;
   }
}

@media only screen and (max-width: 500px) {
   .password__generated {
      font-size: 1.4rem;
   }
}